.footer{
            position: fixed;
            background: rgba(0,0,0,0.6);
            padding: 0px 20px;
            font-family: Comfortaa;
}

.ftlogoh {
    height: 50%;
    width: 100%;
}

.ftlogol {

    height: 100%;
    width: 100%;
    align-content: center;
    vertical-align: middle;
}