body {
   margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
  height: 790px;
  position: relative;
}

.sueloFertilFondo{
    background-color: #E5E1D8;
    
    
    
}
.background_tierraAzul {

    background-image: url(../img/5FondoAzul.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.background_tierraRoja {
    background-image: url(../img/4FondoRoja.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.background_tierraBlanca {
    background-image: url(../img/6FondoBlanca.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.background_tierraMorada {
    background-image: url(../img/7FondoMorada.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.background_tierraVerde {
    background-image: url(../img/9FondoVerde.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.background_tierraRosa {
    background-image: url(../img/2FondoRosa.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.background_tierraAmarilla {
    background-image: url(../img/8FondoAmarilla.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.iconoAvatar{
    width: 170pt;
    height: 120pt;
    position:relative;
    margin-top: 0pt;
    margin-left: 20pt;
      
}

.margen{
    
    padding: 2%;
    
    
}

.imgAzul {
    display: block; 

    margin-left: 15%;

    margin-right: auto;
    margin-bottom:auto;
    margin-top: 0%;
    width: 70%;
    padding: 10px;
    position: absolute;
    z-index: -1;
}

.imgRoja {
    display: block; 

    margin-left: 28%;

    margin-right: auto;
    margin-bottom:auto;
    margin-top: 5%;
    width: 50%;
    padding: 10px;
    position: absolute;
    z-index: -1;
}
.imgBlanca {
    display: block; 

    margin-left: 28%;

    margin-right: auto;
    margin-bottom:auto;
    margin-top: 0%;
    width: 50%;
    padding: 10px;
    position: absolute;
    z-index: -1;
}

.imgMorada {
    display: block; 

    margin-left: 23%;

    margin-right: auto;
    margin-bottom:auto;
    margin-top: 0%;
    width: 80%;
    padding: 10px;
    position: absolute;
    z-index: -1;
}

.imgVerde {
    display: block; 

    margin-left: 11%;

    margin-right: auto;
    margin-bottom:auto;
    margin-top: 3%;
    width: 80%;
    padding: 10px;
    position: absolute;
    z-index: -1;
}

.imgRosa {
    display: block; 

    margin-left: 11%;

    margin-right: auto;
    margin-bottom:auto;
    margin-top: 0%;
    width: 80%;
    padding: 10px;
    position: absolute;
    z-index: -1;
}

.imgAmarilla {
    display: block; 

    margin-left: 11%;

    margin-right: auto;
    margin-bottom:auto;
    margin-top: 0%;
    width: 80%;
    padding: 10px;
    position: absolute;
    z-index: -1;
}


.boton0{
    display: block;
    position: relative;
    left: 2%;
    margin-top: 5%; 
    padding: 10px;
}

.boton1{
     display: block;
    position: absolute;
    left: 30%;
    bottom: 30%;
    top: 30%;
    z-index: 2
    padding: 10px;
    
}

.boton2{
     display: block;
    position: absolute;
    left:40%;
    top:0%;
    padding: 10px;
}
.boton3{
     display: block;
    position: absolute;
    left: 40%;
    top: 58%;
   
    padding: 10px;
}
.boton4{
     display: block;
    position: absolute;
    left: 60%;
    top: 0%;
  
    padding: 10px;
}
.boton5{
     display: block;
    position: absolute;
    top: 30%; 
    left: 70%;
  
    padding: 10px;
}
.boton6{
    
    display: block;
    position: absolute;
    top: 80%;
    left: 50%;
    padding: 30px 30px;
    
   
    
    padding: 10px;
}

.contMenu{
    position: relative;
    width: 100%;
    height: 100%;
}

.atributos {
    
    padding-left: 5%;
    padding-right: 5%;
        
    
    
}

.centered{
    
    align-content: center;
    
}

.vid{
    margin-left: 22%;
    
    
}

.adelante{
    z-index: 100;
    
    
}

.pad{
    
    padding-right: 5%;
    
}

.adorno {
    margin-top: 60%;
    margin-bottom: 5%;
    height: auto;
    width: 120;
}
.background {
    background-image: url(../img/FondoInicial.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    height: inherit;
    width: 80%;
}

atributo {
    color: black;
    font-size: small;
    font-weight: 500; 
}


.historia {
    padding: 2%;
    border-left: 2pt solid purple;
    border-radius: 25px;
}

.mynav {
    position: fixed;
    margin-top: 2%;
    margin-bottom: 2%;
    border-right: 2px solid purple;
    border-radius: 25px;
}

.portrait {
    width: 65%;
    height: 65%;
    border: 2px inset black;
    padding: 1%;
}

.yotopink {
    background-color: #eea5e1;
    border: 5px solid #88fbfa;
}

.yotogray {
    margin-top: 10%;
    background-color: #fbedfa;
    border: 1px solid #eea5e1;
    
}

.yotoyellow {
    color: #ffe5a0;
}

.material-icons {
    opacity: 0.8; !important
    color: black; !important
}

.texto-navbar {
    font-family: Comfortaa;
    color: white;
}

.texto {
    font-family: Comfortaa;
    color: black;
}
.material-tooltip {

  font-family: Comfortaa !important;
  
}

#yalliz {
    background-color: #80deea;
    border: 1px solid #0cc0dd;
}
#cuatetex {
    background-color: #ffc107;
    border: 1px solid #ffe082;
    
}
#xayacatl {
    background-color: #f48fb1;
    border: 1px solid #e91e63;
}
#nacoxtli {
    background-color: #e6ebe0;
    border: 1px solid #ffffff;
    
}
#lyotl {
    background-color: #64dd17;
    border: 1px solid #b2ff59;
}
#yeztli {
    background-color: #ef5350;
    border: 1px solid #f44336;
}
#xihtli {
    background-color: #b388ff;
    border: 1px solid #e1bee7;    
}

.formato {
    padding-top: 10%;
}

lablel {
    opacity: 0.1; !important
    color: black; !importnat
}

black {
    color : black; 
}


