body {
   margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #cccccc;
  height: 790px;
  background-size: cover;
  position: relative;
}
background_tierraAzul {
    background-image: url(../img/5FondoAzul.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.background_tierraRoja {
    background-image: url(../img/4FondoRoja.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.background_tierraBlanca {
    background-image: url(../img/6FondoBlanca.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.background_tierraMorada {
    background-image: url(../img/7FondoMorada.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.background_tierraVerde {
    background-image: url(../img/9FondoVerde.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.background_tierraRosa {
    background-image: url(../img/2FondoRosa.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.background_tierraAmarilla {
    background-image: url(../img/8FondoAmarilla.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.iconoAvatar{
    width: 170pt;
    height: 120pt;
    position:relative;
    margin-top: 0pt;
    margin-left: 20pt;
      
}

.margen{
    
    padding: 2%;
    
    
}

.imgAzul {
    display: block; 

    margin-left: 15%;

    margin-right: auto;
    margin-bottom:auto;
    margin-top: 0%;
    width: 70%;
    padding: 10px;
    position: absolute;
    z-index: -1;
}

.imgRoja {
    display: block; 

    margin-left: 28%;

    margin-right: auto;
    margin-bottom:auto;
    margin-top: 5%;
    width: 50%;
    padding: 10px;
    position: absolute;
    z-index: -1;
}
.imgBlanca {
    display: block; 

    margin-left: 28%;

    margin-right: auto;
    margin-bottom:auto;
    margin-top: 0%;
    width: 50%;
    padding: 10px;
    position: absolute;
    z-index: -1;
}

.imgMorada {
    display: block; 

    margin-left: 23%;

    margin-right: auto;
    margin-bottom:auto;
    margin-top: 0%;
    width: 80%;
    padding: 10px;
    position: absolute;
    z-index: -1;
}

.imgVerde {
    display: block; 

    margin-left: 11%;

    margin-right: auto;
    margin-bottom:auto;
    margin-top: 3%;
    width: 80%;
    padding: 10px;
    position: absolute;
    z-index: -1;
}

.imgRosa {
    display: block; 

    margin-left: 11%;

    margin-right: auto;
    margin-bottom:auto;
    margin-top: 0%;
    width: 80%;
    padding: 10px;
    position: absolute;
    z-index: -1;
}

.imgAmarilla {
    display: block; 

    margin-left: 11%;

    margin-right: auto;
    margin-bottom:auto;
    margin-top: 0%;
    width: 80%;
    padding: 10px;
    position: absolute;
    z-index: -1;
}


.boton0{
    display: block;
    position: relative;
    left: 2%;
    margin-top: 5%; 
    z-index: -1;
    padding: 10px;
}

.boton1{
     display: block;
    position: absolute;
    left: 20%;
    bottom: 30%;
    top: 30%;
    z-index: -1;
    padding: 10px;
}

.boton2{
     display: block;
    position: absolute;
    left:30%;
    top:0%;
    z-index: -1;
    padding: 10px;
}
.boton3{
     display: block;
    position: absolute;
    left: 25%;
    top: 58%;
   
    padding: 10px;
}
.boton4{
     display: block;
    position: absolute;
    left: 50%;
    top: 0%;
  
    padding: 10px;
}
.boton5{
     display: block;
    position: absolute;
    top: 30%; 
    left: 60%;
  
    padding: 10px;
}
.boton6{
     display: block;
    position: absolute;
    top: 58%;
    left: 42%;
    
   
    
    padding: 10px;
}

.contMenu{
    position: relative;
    width: 100%;
    height: 100%;
}

.atributos {
    
    padding-left: 5%;
    padding-right: 5%;
        
    
    
}

.centered{
    
    align-content: center;
    
}

.adelante{
    z-index: 100;
    
    
}

.pad{
    
    padding-right: 5%;
    
}